# Entornos virtuales
venv/
env/

# Archivos de Python cacheados
__pycache__/
*.pyc

# Archivos de datos (Evita subir los TXT del Cabildo)
*.txt
*.csv
*.dat

# Variables de entorno 
.env

# Archivos de Streamlit
.streamlit/